@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 20% 94%;
    --foreground: 120 13% 38%;

    --card: 120 20% 94%;
    --card-foreground: 120 13% 38%;

    --popover: 120 20% 94%;
    --popover-foreground: 120 13% 38%;

    --primary: 120 13% 38%;
    --primary-foreground: 120 20% 94%;

    --secondary: 120 20% 58%;
    --secondary-foreground: 120 13% 38%;

    --muted: 120 15% 84%;
    --muted-foreground: 120 13% 48%;

    --accent: 120 20% 78%;
    --accent-foreground: 120 13% 38%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 120 15% 84%;
    --input: 120 15% 84%;
    --ring: 120 13% 38%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 120 13% 18%;
    --foreground: 120 20% 94%;

    --card: 120 13% 18%;
    --card-foreground: 120 20% 94%;

    --popover: 120 13% 18%;
    --popover-foreground: 120 20% 94%;

    --primary: 120 20% 84%;
    --primary-foreground: 120 13% 18%;

    --secondary: 120 20% 38%;
    --secondary-foreground: 120 20% 94%;

    --muted: 120 13% 28%;
    --muted-foreground: 120 20% 84%;

    --accent: 120 13% 28%;
    --accent-foreground: 120 20% 94%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 120 20% 94%;

    --border: 120 13% 28%;
    --input: 120 13% 28%;
    --ring: 120 20% 84%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .debug {
    outline: 1px solid red;
  }
}